// @import "css/normalize.scss";
// @import "css/main-style.scss";
// @import "css/head.scss";
// @import "blocks/header.scss";
a {
// font-size: 56px;
// animation: shadow  2s infinite ease-in-out;

font-size: 1.5em;
}

html,
body {
  padding:0;
  margin:0;

// animation: body-ani 15s infinite ease-in-out;

}

p,
a,
h1,
h2 {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}
@keyframes body-ani {
  0% {background-image: url("https://wallpapercave.com/wp/wp2869225.jpg");}
  50% {background-image: url("https://static.giantbomb.com/uploads/original/1/10333/2702699-mge%20screenshot%202014-11-20%2013.56.22.869.png");

}
100% {background-image: url("http://wallfon.com/walls/games/morrowind-morning.jpg");}
}

@keyframes shadow {
  from {text-shadow: 0 0 3px black;}
  50% {text-shadow: 0 0 30px black;}
  to {text-shadow: 0 0 3px black;}
}
// * {
//   outline:2px solid green;
//   outline-offset: -2px;
// }
.flex-col {




}

.wd-80 {
  width: 80%;
  border: 12px solid green;
  padding: 1%;
}

body,
div {
  margin:0;
  padding:0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
}
body {
  // height: 100vh;
}
div {
  height: 100vh;
  padding: 5%;
// visibility: visible;

}

p {
  font-size: 1em;
}
.start {
  padding: 2%;
  font-size: 200%;
  border-radius: 15px;
  background-color: transparent;
  text-shadow: 1px 5px 5px black;
}



.hidden {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  clip: rect(0 0 0 0);
  width:100%;

}
.showing {
  clip: auto;
  visibility: visible;

}

.resault {

text-align: center;
font-size: 2em;
text-shadow: 1px 1px 5px black;

}
.red {
  font-size: 4em;
  margin-top: 5%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  
}


h1 {
  border: 15px solid darkblue;
  border-radius: 25px;
  padding: 2% 5%;
}

a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}
a:hover,
a:focus {
text-decoration: underline;
text-shadow: 1px 1px 25px black;

}