@media (min-width: 100px) and (max-width: 299px) { 
.start,
 h1,
 h2 {
  font-size: 55%;
}
.wd-80 {
  font-size: 70%;
}
.wd-90,
a { 
  font-size: 90%;
}
.resault,.PS {
  font-size: 100%;
}
}
@media (min-width: 300px) and (max-width: 766px) { 
.start,
 h1,
 h2 {
  font-size: 100%;
}
.wd-80 {
  font-size: 80%;
}
.wd-90,
a { 
  font-size: 120%;
}
.resault,.PS {
  font-size: 250%;
}
}
@media (min-width: 767px) {
  /* стили для xs-устройств */
 .start,
 h1,
 h2 {
  font-size: 100%;
}
.wd-80 {
  font-size: 100%;
}
.wd-90,
a { 
  font-size: 120%;
}
.resault,.PS {
  font-size: 250%;
}
}
@media (min-width: 768px) and (max-width: 991px) {
  /* стили для sm-устройств */
 .start,
 h1,
 h2 {
  font-size: 200%;
}
.wd-80 {
  font-size: 120%;
}
.wd-90,
a { 
  font-size: 140%;
}
.resault,.PS {
  font-size: 300%;
}
}
@media (min-width: 991px) and (max-width: 1199px) {
  /* стили для md-устройств */

 .start,
 h1,
 h2 {
  font-size: 300%;
}
.wd-80 {
  font-size: 200%;
}
.wd-90,
a { 
  font-size: 250%;
}
.resault,.PS {
  font-size: 500%;
}
}
@media (min-width: 1200px) {
.start {
  padding:0.75%;
}
 .start,
 h1,
 h2 {
  font-size: 300%;
}
.wd-80 {
  font-size: 150%;
}
.wd-90,
a { 
  font-size: 220%;
}
.resault,.PS {
  font-size: 600%;
}

/* стили для lg-устройств */
}
@media (min-width: 2000px) {

 .start,
 h1,
 h2 {
  font-size: 400%;
}
.wd-80 {
  font-size: 250%;
}
.wd-90,
a { 
  font-size: 300%;
}
.resault,.PS {
  font-size: 600%;
}

/* стили для lg-устройств */
}